@import play.api.data._
@import play.api.data.Forms._
@import helper._
@import play.api.i18n.Messages.Implicits._
@import play.api.Play.current


@(helloForm: Form[(String)])


<html lang="en">
    <head>
        <title>"hello"</title>
    </head>
    <body>

    @helper.form(action = routes.HolidayController.submit) {

        <h1>Please enter your name to check how much holiday you have remaining:</h1>
        @helper.inputText(helloForm("Name"))
        <div class='form-actions'>
            <button type='submit'>Check Holiday!</button>
        </div>
    }

    </body>
</html>
